@model TeamUp.Models.ResumeAddTech

@{
    ViewBag.Title = "AddTech";
}

<h2>AddTech</h2>
<style>
    .w100{
        width:100%;
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ResumeAddTech</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ResumeId)

    <div class="form-group">
        @Html.LabelFor(model => model.Technology.Name, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Technology.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Technology.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Technology.Grade, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Technology.Grade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Technology.Grade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Technology.Comment, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Technology.Comment, new { htmlAttributes = new { @class = "form-control w100" }, @class = "w100" })
            @Html.ValidationMessageFor(model => model.Technology.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="~/Resumes/Details/@Model.ResumeId">Back to the Resume</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
