@model IEnumerable<TeamUp.Models.Team>

@{
    ViewBag.Title = "Teams";
}

<h2>My Teams</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Due Date
            </th>
            <th>My role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var roleId = -1;
            <tr>
                <td>
                    <a href="~/Teams/Details/@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if(item.DueDate == null)
                    {
                        <span>No Due Date</span>
                    }
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @if (item.Admin.Id == ViewBag.UserLoggedId)
                    {
                    <span>Admin</span>
                        break;
                    }
                    else
                    {
                        foreach (var role in item.RolesNeeded)
                        {
                            if (role.Filled && role.FilledBy.Id == ViewBag.UserLoggedId)
                            {
                                roleId = role.Id;
                            <span>@role.Name</span>
                            }
                        }
                    }
                </td>
                <td>
                    @if (item.Admin.Id != ViewBag.UserLoggedIn) {

                        <button onclick="leaveTeam(@item.Id, @roleId)" class="btn btn-danger">Leave</button>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(".table").DataTable();

        function leaveTeam(id, roleId) {
            bootbox.confirm("Are you sure you want to leave this team?", function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        url: "/Teams/RemoveUser/" + id + "?roleId=" + roleId,
                        success: function () {
                            $(document.body).load(location.href);
                        }
                    })
                }
            })
        }
    </script>
}