@model TeamUp.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>

        <dd>
            <a href="~/Manage/Profile/@Model.Admin.Id">
                @Html.DisplayFor(model => model.Admin.FirstName)
            </a>
        </dd>

    </dl>
</div>
<dl class="dl-horizontal">
    <dt>Roles Needed:</dt>
    <dd></dd>
    @foreach (var role in Model.RolesNeeded)
    {
        if (role.Filled) { continue; }
        <dt>@role.Name</dt>
        <dd>@role.Description</dd>
    }
    @if (Model.Admin.Id == ViewBag.IdLoggedIn)
    {
        <dt><a href="~/Teams/AddNewRole/@Model.Id">Add new Role</a></dt>
        <dd></dd>
    }

</dl>


<h2>Messages:</h2>
    <input type="text" id="message" autocomplete="off"/>
    <button onclick="postMessage(@Model.Id)" id="send-btn">Send</button>
@foreach(var message in Model.Chat.Reverse()) { 
    <p>@message.From.FirstName: @message.Text - @message.TimeSent</p>
}
<p>
    @if (Model.Admin.Id == ViewBag.IdLoggedIn) {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
    @Html.ActionLink("Applications", "Applications", new { id = Model.Id })
    }
</p>

@section scripts{
    <script>

        var input = document.getElementById("message");

        function postMessage(id) {
            var message = input.value;
            input.value = "";

            $.ajax({
                method: "GET",
                url: "/Teams/AddMessage?id=" + id + "&message=" + message,
                success: function () {
                    $(document.body).load(location.href);
                }
            })
        }


        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("send-btn").click();
            }
        });
    </script>
}