@model IEnumerable<TeamUp.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolesNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Teams/Details/@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <dl class="dl-horizontal">
                        @foreach (var role in item.RolesNeeded)
                        {
                            <dt>
                                @role.Name
                            (<a href="#" onclick="apply(@role.Id, @item.Id)">Apply</a>)
                        </dt>
                        <dd>@role.Description</dd>
                    }
                    </dl>
                </td>
                <td>
                    <ul class="list-unstyled">
                        @foreach (var member in item.Members)
                        {
                            <li><a href="~/Manage/Profile/@member.Id">
                                @member.FirstName @member.LastName
                            </a></li>
                            
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts{
    <script>
        $(".table").DataTable();

        function apply(roleid, teamId) {
            bootbox.prompt({
                title: "Why are you applying for this position",
                inputType: "textarea",
                callback: function (result) {
                    if (result.length > 0) {
                        $.ajax({
                            method: "GET",
                            url: "/Teams/Apply/" + teamId + "?roleId=" + roleid + "&message=" + result,
                            success: function () {
                                $(document.body).load(location.href);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Error occured");
                            }
                        })
                    }
                }
            });
        }
    </script>
}